.host {
  margin-top: 4em;
}

.running-indicator {
  margin-top: 0.5em;
}

/**
 * harness view
 */
.harness .tagged-result {
  font-weight: bold;
}

.harness .user-agent {
  display: inline-block;
  width: 15em;
  text-align: right;
}

.harness th > form {
  font-weight: normal;
}

.harness .tagged {
  font-weight: bold;
}

/**
 * results view
 */
